<footer class="footer mt-5 bg-dark pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 style="color: aqua;">Đối tác</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Đối tác PHIẾN</a></li>
                    <li><a href="#">Đối tác TÙNG</a></li>
                    <li><a href="#">Đối tác TÙNG - PHIẾN</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 style="color: aqua;">Nhà tài trợ</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Nhà tài trợ PHIẾN</a></li>
                    <li><a href="#">Nhà tài trợ TÙNG</a></li>
                    <li><a href="#">Nhà tài trợ PHIẾN - TÙNG</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 style="color: aqua;">Đội ngũ phát triển</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Thành viên 1</a></li>
                    <li><a href="#">Thành viên 2</a></li>
                    <li><a href="#">Thành viên 3</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 style="color: aqua;">Liên hệ</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Email: tungphient@gmail.com</a></li>
                    <li><a href="#">Điện thoại: 0123456789</a></li>
                    <li><a href="#">Địa chỉ: Rochi 123, Phường ABC, Thành phố XYZ</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright">Ban Quyen Of Phien And Tung Company</p>
            </div>
        </div>
    </div>
</footer>
